<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="Debug" value="False"/>
    <add key="Path" value="~/Data/data.txt"/>
    <add key="Path1" value="~/Data/now_freq.txt"/>
    <add key="connectionString" value="Data Source=127.0.0.1;User ID=cog2019;Password=cog2019;DataBase=speech"/>
  </appSettings>
</configuration>
